node_modules/
public/js

/target
/checkouts
/build/out
build.zip
source.zip
/build/assets/tailwind.css

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs/
.clj-kondo/
.idea/
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/
