{:source-paths ["src/dev"
                "src/main"
                "src/test"]

 :dependencies [[reagent "1.1.0"]
                [mount "0.1.16"]
                [metosin/malli "0.5.1"]
                [binaryage/devtools "1.0.3"]
                [com.taoensso/timbre "5.1.2"]
                [cljs-ajax "0.8.3"]]

 :nrepl  {:port 9000}
 :builds {:extension
          {:target           :chrome-extension
           :extension-dir    "./build/"
           :js-options       {:output-feature-set :es6}
           :devtools         {:watch-dir "build/assets"}
           :compiler-options {:closure-output-charset "US-ASCII"
                              :source-map-inline      true
                              :optimizations          :advanced
                              :infer-externs          :auto}}}}
