@tailwind base;
@tailwind components;
@tailwind utilities;

.twitter-icon {background: no-repeat url("/assets/icons/twitter.svg") center/contain;}
.hn-icon {background: no-repeat url("/assets/icons/hn.svg") center/contain;}
.hn_story-icon {background: no-repeat url("/assets/icons/hn.svg") center/contain;}
.hn_comment-icon {background: no-repeat url("/assets/icons/hn comment.svg") center/contain;}
.ahref-icon {background: no-repeat url("/assets/icons/backlink.svg") center/contain;}
.domain-icon {background: no-repeat url("/assets/icons/same-domain.svg") center/contain;}
.visit-icon {background: no-repeat url("/assets/icons/ampie-no-shadow.svg") center/contain;}
.show-sidebar-icon {background: no-repeat url("/assets/icons/show-sidebar.svg") center/contain;}
.hide-sidebar-icon {background: no-repeat url("/assets/icons/hide-sidebar.svg") center/contain;}
.close-icon {background: no-repeat url("/assets/icons/close.svg") center/contain;}

@layer utilities {
    @variants hover {
        .text-link-color {@apply text-blue-600;}
    }
}
